/* Background using :root */
:root {
    background-color: rgb(135, 206, 235);
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Article paragraphs */
article p:first-child {
    color: white;
    background-color: black;
    padding: 5px;
}

article p:nth-child(2) {
    color: black;
}

article p:last-child {
    color: red;
}

/* List styling */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    background-color: gray;
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
}

/* Odd items white */
ul li:nth-child(odd) {
    background-color: white;
}

/* First and last items font size */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item */
ul li:nth-last-child(3) {
    background-color: pink;
}
